.Intro {
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(12, 1, 1, 0.151);
  margin: 15px 0;
  width: 75%;
  align-self: center;
  box-shadow: 10px 20px 30px -20px rgba(0, 0, 0, 0.51);
  color: whitesmoke;
}
